@import "tailwindcss";

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
	font-family: 'Manrope', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}

#main-container {
    background-color: #FFF9F5;
}

.notification-box-holder {
    background-color: #FFF5F5 !important;
    border-radius: 25px;
    border: 1px solid #FFCBCB;
    padding: 17px;
}

.notification-box-holder .notification-box-holder-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFCBCB;
}
