@font-face {
	font-family: 'Manrope';
	src: url('fonts/Manrope-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Manrope', sans-serif;
}

#main-container {
    background-color: #FFF9F5;
}

.notification-box-holder {
    background-color: #FFF5F5 !important;
    border-radius: 25px;
    border: 1px solid #FFCBCB;
    padding: 17px;
}

.notification-box-holder .notification-box-holder-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFCBCB;
}